@page "/"

<h1>Hello, world!</h1>

<p> Welcome to your new app. </p>

     <div class="overlay" id="overlay">
    <div class="box">
        <button class="close-box-btn" onclick="closeBox()">X</button>
        <p style="color: #000;"></p>
<button class="btn default outlined-button justify-items-center my-3">Choose</button>
    </div>
</div>
 <div class="container">
    <!-- Menu with Other Boxes -->
    <div class="row justify-content-center my-3">
      <div class="col-sm-4 col-md-3">
        <div class="menu-box" onclick="openBox(this)">
          <img src="css/cappuccino.png" width="200">
        </div>

      </div>
      <div class="col-sm-4 col-md-3">
        <div class="menu-box" onclick="openBox(this)">
          <img src="css/espresso.png" width="200">
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="menu-box" onclick="openBox(this)">
          <img src="css/canpanna.png" width="150">
        </div>
      </div>
        <div class="col-sm-4 col-md-3">
            <div class="menu-box" onclick="openBox(this)">
                <img src="css/lightlatte.png" width="200">
            </div>
        </div>
    </div>
  </div>

 




