@page "/Payment"
@inject NavigationManager NavigationManager


<h3 style="color:#FAFAD2; text-align: center;">Payment</h3>

<button class="btn default outlined-button justify-items-center my-3" style="color:#FAFAD2;" @onclick="GoHome">Go Home</button>
<button class="btn default outlined-button justify-items-center my-3" style="color:#FAFAD2;" @onclick="GoBack">Go Back</button>

@code {

    private string selectedCoffeeChoice;

    private void GoHome()
    {
        NavigationManager.NavigateTo("/");
    }
    private void GoBack()
    {
        var queryString = !string.IsNullOrWhiteSpace(selectedCoffeeChoice) ? $"?choice={selectedCoffeeChoice}" : "";
        NavigationManager.NavigateTo($"/PreOrder{queryString}");

    }
}
