<div class="payment-method-dialog">

    <button class="btn btn-primary" @onclick="ShowCardPayment">Pay with Debit/Credit Card</button>
    <button class="btn btn-primary" @onclick="ShowCashPayment">Pay with Cash</button>
</div>

@code {

    private void ShowCardPayment()
    {
    }

    private void ShowCashPayment()
    {
    }
}
